<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_DevelopmentDb2024_Connection" connectionString="XpoProvider=MSSqlServer;data source=MNL-M-001932\SQLEXPRESS;integrated security=SSPI;initial catalog=DevelopmentDb2024" />
        <add name="localhost_DevelopmentDb2024_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=MNL-M-001932\SQLEXPRESS;integrated security=SSPI;initial catalog=DevelopmentDb2024" />
    </connectionStrings>
</configuration>