@using DMS.Application.Interfaces.Setup.ModuleRepository
@using DMS.Application.Interfaces.Setup.UserRepository
@using System.Security.Claims
@inject IStringLocalizer<SharedResources> localizer

@inject IUserRepository _userRepo;
@inject IModuleRepository _moduleRepo;

@{
    // Layout = "_SidebarLayout";
    ViewData["Title"] = "Home Page";

    int userId = int.Parse(User.Identity.Name);
    var user = await _userRepo.GetByIdNoTrackingAsync(userId);
}

<div class="row" id="with_application">
    <div class="col-xl-8">
        <div class="row">
            <div class="row">
                <div class="d-flex flex-row">
                    <h1 class="display-6">Hi, <span id="user_first_name">@(user.FirstName ?? "Juan")</span>! Welcome back.</h1>
                </div>
                <div class="d-flex flex-row">
                    <p class="text-muted fs-4" id="text_status">
                        Your application is <span class="text-primary">currently awaiting</span> <span class="text-primary">for Pag-IBIG's verification</span>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="card" style="min-height: 500px;">
                    <div class="custom-ribbon" id="custom_ribbon">
                        <div class="custom-ribbon-top-right text-capitalize" id="status_contract">
                            Developer Verified
                        </div>
                    </div>

                    <div class="row h-100">
                        <div class="col-1 bg-warning beneficiary-sidecard" id="beneficiary_sidecard">
                            <p class="fs-3 mx-auto my-auto" id="beneficiary_sidecard_text">
                                Credit Verification
                            </p>
                        </div>
                        <div class="col-11">
                            <div class="card-body d-flex flex-column">
                                <div class="row mb-2">
                                    <div class="col-6">
                                        <p>Reference Number</p>
                                        <h1 id="reference_number" class="fs-2 text-primary">APL2020-0892</h1>
                                    </div>
                                    <div class="col-6">
                                        <img class="img-fluid" src="~/images/juantahananassets/logo/zeta_landscape_logo.png" alt="..." />
                                    </div>
                                </div>
                                <div class="row align-items-end">
                                    <div class="col-4">
                                        <img class="img-fluid" src="~/images/juantahananassets/logo/arao_logo.png" alt="..." />
                                    </div>
                                    <div class="col-4">
                                        <img class="img-fluid" src="~/images/juantahananassets/sample/layoutsample.png" alt="..." />
                                    </div>
                                    <div class="col-4">
                                        <div class="row mb-1">
                                            <p>Requested Loan Amount</p>
                                            <h1 class="fs-2 text-primary">₱ <span data-plugin="counterup"  id="requested_loan_amount">500,000.00</span></h1>
                                        </div>
                                        <div class="row mb-1">
                                            <p>Loan Term</p>
                                            <h1 class="fs-2 text-primary"><span data-plugin="counterup" id="loan_term">10</span> YEARS</h1>
                                        </div>
                                        <div class="row mb-1">
                                            <p>Project Location</p>
                                            <h1 id="project_location" class="fs-2 text-primary">Bacolod City</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="card flex-fill">
                        <div class="card-body">
                            <div class="d-flex flex-column text-center align-items-center">
                                <div class="row text-muted mb-2" id="application_status_label">Your application is currently at</div>
                                <div class="row">
                                    <h1 id="application_status" class="fs-1 fw-bolder text-warning">Credit Verification</h1>
                                </div>
                                <div id="application_status_remarks" class="row text-muted">Ends after Pag-IBIG credit verification</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card flex-fill">
                        <div class="card-body align-items-center">                            
                            <div class="d-flex flex-column text-center align-items-center">
                                <div class="row text-muted mb-2" id="credit_history_label">Your credit history has just been</div>
                                <div class="row">
                                    <h1 id="credit_history_status" class="fs-1 fw-bolder">Developer Verified</h1>
                                </div>
                                <div id="credit_history_remarks" class="row text-muted">A Pag-IBIG officer will review your eligibility shortly</div>                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="col-xl-4">
        <div class="row">
            <div class="col-xl-12">
                <div class="card rounded-4" style="height: 750px;">
                    <div class="card-header rounded-4 rounded-bottom d-flex justify-content-start">
                        <h4 class="header-title mb-0 me-1">
                            Track Loan Application
                        </h4>

                    </div>
                    <p><span class="badge bg-warning ms-3 fs-6" id="application_code">ONGOING DEVELOPMENT</span></p>
                    <div class="card-body py-0 mb-4" data-simplebar="init" @* style="max-height: 55vh;" *@ >
                        <div class="col-md-12">
                            @* <h2 id="timeline_refNo">No Application</h2> *@
                            <div class="row" hidden>
                                <div class="row">
                                    <div class="col-2 d-flex justify-content-center align-items-center">
                                        <i class="far fa-circle text-info timeline-icon fs-1"></i>
                                    </div>
                                    <div class="col-10 d-flex align-items-center align-content-center">
                                        <div class="timeline-item-info">
                                            <a href="javascript:void(0);" class="text-info fw-bold mb-0 d-block" id="timeline-item-text">Verified by Developer</a>
                                            <p class="mb-0">Credit Verification</p>
                                            <p class="mb-0">
                                                <small class="text-muted timeline-date">October 12 2020</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2 d-flex justify-content-center align-items-center">
                                        <i class="far fa-circle text-info timeline-icon fs-1"></i>

                                    </div>
                                    <div class="col-10 d-flex align-items-center align-content-center">
                                        <div class="timeline-item-info">
                                            <a href="javascript:void(0);" class="text-info fw-bold mb-0 d-block" id="timeline-item-text">Verified by Developer</a>
                                            <p class="mb-0">Credit Verification</p>
                                            <p class="mb-0">
                                                <small class="text-muted timeline-date">October 12 2020</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2 d-flex justify-content-center align-items-center">
                                        <i class="far fa-circle text-info timeline-icon fs-1"></i>

                                    </div>
                                    <div class="col-10 d-flex align-items-center align-content-center">
                                        <div class="timeline-item-info">
                                            <a href="javascript:void(0);" class="text-info fw-bold mb-0 d-block" id="timeline-item-text">Verified by Developer</a>
                                            <p class="mb-0">Credit Verification</p>
                                            <p class="mb-0">
                                                <small class="text-muted timeline-date">October 12 2020</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="simplebar-wrapper" style="margin: 0px -24px;" id="simplebarWrapper1" hidden>
                                <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask">
                                    <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                        <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden scroll;">
                                            <div class="simplebar-content mt-2 mb-2" style="padding: 0px 24px;">
                                                <div class="timeline-alt py-0">
                                                    <div class="timeline-item" id="timeline1">
                                                        <div class="col-2 d-flex align-items-center justify-content-center timeline-icon circle-div">
                                                            <div class="align-self-center">
                                                                <i class="fs-1 timeline-placeholder-icon text-muted"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-10 w-100 ps-3 timeline-item-info">
                                                            <a href="javascript:void(0);" class="fs-5 text-muted fw-bold mb-0 d-block" id="timeline-item-text">Submission</a>
                                                            <p class="mb-0">Credit Verification</p>
                                                            <p>
                                                                <small class="text-muted timeline-date">-----</small>
                                                            </p>
                                                        </div>
                                                    </div>

                                                    <div class="timeline-item" id="timeline2">
                                                        <div class="col-2 d-flex align-items-center justify-content-center timeline-icon circle-div">
                                                            <div class="align-self-center">
                                                                <i class="fs-1 timeline-placeholder-icon text-muted"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-10 w-100 ps-3 timeline-item-info">
                                                            <a href="javascript:void(0);" class="fs-5 text-muted fw-bold mb-0 d-block" id="timeline-item-text">Developer Verification</a>
                                                            <p class="mb-0">Credit Verification</p>
                                                            <p>
                                                                <small class="text-muted timeline-date">-----</small>
                                                            </p>
                                                        </div>
                                                    </div>

                                                    <div class="timeline-item" id="timeline3">
                                                        <div class="col-2 d-flex align-items-center justify-content-center timeline-icon circle-div">
                                                           <div class="align-self-center">
                                                                <i class="fs-1 timeline-placeholder-icon text-muted"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-10 w-100 ps-3 timeline-item-info">
                                                            <a href="javascript:void(0);" class="fs-5 text-muted fw-bold mb-0 d-block" id="timeline-item-text">Pag-IBIG Verification</a>
                                                            <p class="mb-0">Credit Verification</p>
                                                            <p>
                                                                <small class="text-muted timeline-date">-----</small>
                                                            </p>
                                                        </div>
                                                    </div>

                                                    <div class="timeline-item" id="timeline4">
                                                        <div class="col-2 d-flex align-items-center justify-content-center timeline-icon circle-div">
                                                            <div class="align-self-center">
                                                                <i class="fs-1 timeline-placeholder-icon text-muted"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-10 w-100 ps-3 timeline-item-info">
                                                            <a href="javascript:void(0);" class="fs-5 text-muted fw-bold mb-0 d-block" id="timeline-item-text">Submission</a>
                                                            <p class="mb-0">Application Completion</p>
                                                            <p>
                                                                <small class="text-muted timeline-date">-----</small>
                                                            </p>

                                                        </div>
                                                    </div>

                                                    <div class="timeline-item" id="timeline5">
                                                        <div class="col-2 d-flex align-items-center justify-content-center timeline-icon circle-div">
                                                            <div class="align-self-center">
                                                                <i class="fs-1 timeline-placeholder-icon text-muted"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-10 w-100 ps-3 timeline-item-info">
                                                            <a href="javascript:void(0);" class="fs-5 text-muted fw-bold mb-0 d-block" id="timeline-item-text">Developer Approval</a>
                                                            <p class="mb-0">Application Completion</p>
                                                            <p>
                                                                <small class="text-muted timeline-date">-----</small>
                                                            </p>

                                                        </div>
                                                    </div>

                                                    <div class="timeline-item" id="timeline6">
                                                        <div class="col-2 d-flex align-items-center justify-content-center timeline-icon circle-div">
                                                            <div class="align-self-center">
                                                                <i class="fs-1 timeline-placeholder-icon text-muted"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-10 w-100 ps-3 timeline-item-info">
                                                            <a href="javascript:void(0);" class="fs-5 text-muted fw-bold mb-0 d-block" id="timeline-item-text">Pag-IBIG Approval</a>
                                                            <p class="mb-0">Application Completion</p>
                                                            <p>
                                                                <small class="text-muted timeline-date">-----</small>
                                                            </p>

                                                        </div>
                                                    </div>

                                                    <div class="timeline-item" id="timeline7">
                                                        <div class="col-2 d-flex align-items-center justify-content-center timeline-icon circle-div">
                                                            <div class="align-self-center">
                                                                <i class="fs-1 timeline-placeholder-icon text-muted"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-10 w-100 ps-3 timeline-item-info">
                                                            <a href="javascript:void(0);" class="fs-5 text-muted fw-bold mb-0 d-block" id="timeline-item-text">Post-Approval Process</a>
                                                            <p class="mb-0">Post-approval</p>
                                                            <p>
                                                                <small class="text-muted timeline-date">-----</small>
                                                            </p>

                                                        </div>
                                                    </div>

                                                    <div class="timeline-item" id="timeline8">
                                                        <div class="col-2 d-flex align-items-center justify-content-center timeline-icon circle-div">
                                                            <div class="align-self-center">
                                                                <i class="fs-1 timeline-placeholder-icon text-muted"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-10 w-100 ps-3 timeline-item-info">
                                                            <a href="javascript:void(0);" class="fs-5 text-muted fw-bold mb-0 d-block" id="timeline-item-text">Loan Disbursement</a>
                                                            <p class="mb-0">Disbursement</p>
                                                            <p>
                                                                <small class="text-muted timeline-date">-----</small>
                                                            </p>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="simplebar-placeholder" style="width: auto; height: 533px;"></div>
                            </div>

                            <div class="simplebar-wrapper" style="margin: 0px -24px;" id="simplebarWrapper2" hidden>
                                <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask">
                                    <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                        <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden scroll;">
                                            <div class="simplebar-content mt-2 mb-2" style="padding: 0px 24px;">
                                                <div class="timeline-alt py-0">
                                                    <div class="process_display" hidden>

                                                        <div class="timeline-item" id="timeline1">
                                                            <i class="far fa-circle text-info timeline-icon"></i>
                                                            <div class="timeline-item-info">
                                                                <a href="javascript:void(0);" class="text-info fw-bold mb-0 d-block" id="timeline-item-text">Submission (First Stage)</a>
                                                                <p class="mb-0">Credit Verification</p>
                                                                <p>
                                                                    <small class="text-muted timeline-date" hidden>October 12 2020</small>
                                                                </p>
                                                            </div>
                                                        </div>

                                                        <div class="timeline-item" id="timeline2">
                                                            <i class="far fa-circle text-info timeline-icon"></i>
                                                            <div class="timeline-item-info">
                                                                <a href="javascript:void(0);" class="text-info fw-bold mb-0 d-block" id="timeline-item-text">Verified by Developer</a>
                                                                <p class="mb-0">Credit Verification</p>
                                                                <p>
                                                                    <small class="text-muted timeline-date" hidden>October 12 2020</small>
                                                                </p>
                                                            </div>
                                                        </div>

                                                        <div class="timeline-item" id="timeline3">
                                                            <i class="far fa-circle text-info timeline-icon"></i>
                                                            <div class="timeline-item-info">
                                                                <a href="javascript:void(0);" class="text-info fw-bold mb-0 d-block" id="timeline-item-text">Verified by Pag-IBIG</a>
                                                                <p class="mb-0">Credit Verification</p>
                                                                <p>
                                                                    <small class="text-muted timeline-date" hidden>October 12 2020</small>
                                                                </p>
                                                            </div>
                                                        </div>

                                                        <div class="timeline-item" id="timeline4">
                                                            <i class="far fa-circle text-info timeline-icon"></i>
                                                            <div class="timeline-item-info">
                                                                <a href="javascript:void(0);" class="text-info fw-bold mb-0 d-block" id="timeline-item-text">Submission (Second Stage)</a>

                                                                <p class="mb-0">Application Completion</p>
                                                                <p>
                                                                    <small class="text-muted timeline-date" hidden>October 12 2020</small>
                                                                </p>

                                                            </div>
                                                        </div>

                                                        <div class="timeline-item" id="timeline5">
                                                            <i class="far fa-circle text-info timeline-icon"></i>
                                                            <div class="timeline-item-info">
                                                                <a href="javascript:void(0);" class="text-info fw-bold mb-0 d-block" id="timeline-item-text">Approved by Developer</a>
                                                                <p class="mb-0">Application Completion</p>
                                                                <p>
                                                                    <small class="text-muted timeline-date" hidden>October 12 2020</small>
                                                                </p>

                                                            </div>
                                                        </div>

                                                        <div class="timeline-item" id="timeline6">
                                                            <i class="far fa-circle text-info timeline-icon"></i>
                                                            <div class="timeline-item-info">
                                                                <a href="javascript:void(0);" class="text-info fw-bold mb-0 d-block" id="timeline-item-text">Approved by Pag-IBIG</a>
                                                                <p class="mb-0">Application Completion</p>
                                                                <p>
                                                                    <small class="text-muted timeline-date" hidden>October 12 2020</small>
                                                                </p>

                                                            </div>
                                                        </div>

                                                        <div class="timeline-item" id="timeline7">
                                                            <i class="far fa-circle text-info timeline-icon"></i>
                                                            <div class="timeline-item-info">
                                                                <a href="javascript:void(0);" class="text-info fw-bold mb-0 d-block" id="timeline-item-text">Post-Approval</a>
                                                                <p class="mb-0">Post-Approval</p>
                                                                <p>
                                                                    <small class="text-muted timeline-date" hidden>October 12 2020</small>
                                                                </p>

                                                            </div>
                                                        </div>

                                                        <div class="timeline-item" id="timeline8">
                                                            <i class="far fa-circle text-info timeline-icon"></i>
                                                            <div class="timeline-item-info">
                                                                <a href="javascript:void(0);" class="text-info fw-bold mb-0 d-block" id="timeline-item-text">Loan Disbursement</a>
                                                                <p>
                                                                    <small class="text-muted timeline-date" hidden>October 12 2020</small>
                                                                </p>


                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="simplebar-placeholder" style="width: auto; height: 533px;"></div>
                            </div>

                            <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                                <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                            </div>
                            <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                                <div class="simplebar-scrollbar" style="height: 434px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

        </div>
    </div>
</div>