@using DMS.Application.Interfaces.Setup.ModuleRepository
@using DMS.Application.Interfaces.Setup.UserRepository
@inject IStringLocalizer<SharedResources> localizer

@inject IUserRepository _userRepo;
@inject IModuleRepository _moduleRepo;

@{
    // Layout = "_SidebarLayout";
    ViewData["Title"] = "Home Page";
}

<div class="row">
    
   
</div>
 
    
 