  @model DMS.Domain.Dto.BuyerConfirmationDto.BuyerConfirmationModel


@{
    ViewData["Title"] = "Download BCF";
    // var items = (List<ApplicantViewModel>)ViewBag.items;
}

<div class="row d-flex justify-content-center">
    <div class="col-8 card">
        <div class="card-body mx-2">
            <div class="row">
                <h2 class="text-primary text-center fw-bolder">
               Your BCF is now ready for download!
                </h2>
            </div>
            <div class="row mt-2 mx-2">
                <p class="fw-bold fs-4">Here’s what you should do next:</p>
            </div>
            <div class="row mx-4">
                <ol>
                    <li class="mb-1 fs-4">Download the approved BCF file below.</li>
                    <li class="mb-1 fs-4">Print the file and then sign on it using a pen. We don’t accept digital signing.</li>
                    <li class="mb-1 fs-4">Include the date when signing the document.</li>
                    <li class="mb-1 fs-4">After you've finished signing and adding the date, scan the document and save it as PDF.</li>
                    <li class="mb-1 fs-4">Upload that PDF in the <a asp-controller="BuyerConfirmation" asp-action="Upload">BCF Uploading</a> module.</li>
                    <li class="mb-1 fs-4">For your reference, a signed BCF file should look similar to this: <a href="~/Files/PdfTemplate/Dela Cruz_Juan_Abad_BCF24982.pdf" target="_blank">Example_BCF.pdf</a></li>
                </ol>
            </div> 
            <div class="row d-flex justify-content-center">
                <div class="col-10 card shadow-lg">
                    <div class="card-body rounded-4">
                        <div class="d-flex justify-content-center">
                            <div class="d-flex col-2 justify-content-start dl-icon-logo">
                                <img src="~/img/pdf.png" style="width: 60px;" />
                            </div>
                            <div class="d-flex flex-column col-8 dl-filename align-self-center justify-content-start">
                                <p class="fw-bold fs-4 mb-0 text-wrap">Approved Buyer Confirmation Form</p>
                                <p class="fw-light fs-5 mb-0 text-info" id="bcfFileName">@(Model.Code).pdf</p>
                                <input type="hidden" id="input_bcfCode" value="@Model.Code" />
                                <p class="fw-lighter fs-6 mb-0" id="bcfFileSize">1 MB</p>
                            </div>
                            <div class="d-flex col-2 justify-content-end dl-button">
                                <button class="btn btn-primary btn-lg" id="btn_download"><i class="mdi mdi-download fs-2"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2 d-flex align-items-center justify-content-center">
                <div class="col-10">
                    <p class="fw-light fst-italic text-wrap">
                        The Buyer Confirmation Form (BCF) process is separated from your housing loan application requirements, but it is an important document required by Pag-IBIG.
                    </p>
                    <p class="fw-light fst-italic text-wrap">
                        To avoid delays in processing your application, please submit the signed BCF as soon as possible.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/Setup/Home/BuyerConfirmationDownloadScript.js" asp-append-version="true"></script>

}