  @model DMS.Domain.Dto.BuyerConfirmationDto.BuyerConfirmationModel


<div class="row d-flex justify-content-center">
    <div class="col-8 card">
        <div class="card-body mx-2">
            <div class="row">
                <h2 class="text-primary text-center fw-bolder">
               Your BCF is now readt for download!
                </h2>
            </div>
            <div class="row mt-2 mx-2">
                <p class="fw-bold fs-4">Here’s what you should do next:</p>
            </div>
            <div class="row mx-4">
                <ol>
                    <li class="mb-1 fs-4">Download the approved BCF file below.</li>
                    <li class="mb-1 fs-4">Print the file and then sign on it using a pen. We don’t accept digital signing.</li>
                    <li class="mb-1 fs-4">Include the date when signing the document.</li>
                    <li class="mb-1 fs-4">After you've finished signing and adding the date, scan the document and save it as PDF.</li>
                    <li class="mb-1 fs-4">Upload that PDF in the <a href="#">BCF Uploading </a> module.</li>
                    <li class="mb-1 fs-4">For your reference, a signed BCF file should look similar to this: <a href="#">Example_BCF.pdf</a></li>
                </ol>
            </div>
             
        </div>
    </div>
</div>