@model ApplicantViewModel
@{
    ViewData["Title"] = "My Application";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
    </div>
</div>
<!-- end page title -->
<!-- Info Cards -->
<div class="row">
    <div class="col-md-6 col-xl-4">
        <div class="widget-rounded-circle card bg-primary shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h2 class="text-white mt-2" id="info_for_approval"><span data-plugin="counterup">0</span></h2>
                        <p class="text-white mb-0 text-truncate">Pending Review</p>
                    </div>
                    <div class="col-6">
                        <div class="avatar-lg rounded-circle bg-soft-light ms-auto">
                            <i class="fe-layers font-24 avatar-title text-white"></i>
                        </div>
                    </div>
                </div> <!-- end row-->

                <a href="#" id="dash_link_for_approval" data-val="" class="stretched-link"></a>
            </div>
        </div> <!-- end widget-rounded-circle-->
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-4">
        <div class="widget-rounded-circle card bg-success shadow zoom">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h2 class="text-white mt-2" id="info_total_approved"><span data-plugin="counterup">0</span></h2>
                        <p class="text-white mb-0 text-truncate">Approved</p>
                    </div>
                    <div class="col-6">
                        <div class="avatar-lg rounded-circle bg-soft-light ms-auto">
                            <i class="fe-thumbs-up font-24 avatar-title text-white"></i>
                        </div>
                    </div>
                </div> <!-- end row-->
            </div>
            <a href="#" id="dash_link_approved" data-val="2" class="stretched-link"></a>
        </div> <!-- end widget-rounded-circle-->
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-4">
        <div class="widget-rounded-circle card bg-danger shadow zoom">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h2 class="text-white mt-2" id="info_total_disapproved"><span data-plugin="counterup">0</span></h2>
                        <p class="text-white mb-0 text-truncate">Disapproved</p>
                    </div>
                    <div class="col-6">
                        <div class="avatar-lg rounded-circle bg-soft-light ms-auto">
                            <i class="fe-thumbs-down font-24 avatar-title text-white"></i>
                        </div>
                    </div>
                </div> <!-- end row-->
            </div>
            <a href="#" id="dash_link_disapproved" data-val="3" class="stretched-link"></a>
        </div> <!-- end widget-rounded-circle-->
    </div> <!-- end col-->
</div>


<div class="card card-outline rounded-4">
    <div class="card-body rounded-4 rounded-bottom bg-transparent border rounded border-theme-warning border-4 border-bottom-0 border-end-0 border-start-0">

        <div class="row gy-2">
            <div class="row">
                <div class="col-md-6 mb-2 align-items-md-center">

                    @if (Model.ApplicantsPersonalInformationModel.isCanAppliedNewApplication == false)
                    {
                        <button class="btn btn-light btn-sm waves-effect" id="btn_add" data-pagibignumber="@Model.ApplicantsPersonalInformationModel.PagibigNumber" disabled><span class="mdi mdi-plus"></span> Add</button>



                    }

                    else
                    {
                        <button class="btn btn-light btn-sm waves-effect" id="btn_add" data-pagibignumber="@Model.ApplicantsPersonalInformationModel.PagibigNumber"><span class="mdi mdi-plus"></span> Add</button>


                    }


                    <button class="btn btn-light btn-sm waves-effect" id="btn_edit" disabled><span class="mdi mdi-square-edit-outline"></span> Edit</button>
                    <button class="btn btn-light btn-sm waves-effect" id="btn_view" disabled><span class="fe-info"></span> View Detail</button>
                    <button class="btn btn-light btn-sm waves-effect" id="btn_generate_pdf" disabled><span class="far fa-file-pdf"></span> View Pdf</button>
                    <button class="btn btn-light btn-sm waves-effect" id="btn_upload_document" disabled><span class="fas fa-file-upload"></span> Upload Document</button>
                    <button class="btn btn-light btn-sm waves-effect" id="btn_refresh" bound="tbl_applications"><span class="mdi mdi-refresh"></span> Refresh</button>
                </div>


                <div class="col-md-6 mb-2">
                    <div class="input-group float-end" style="width:250px;">
                        <input bound="tbl_applications" type="search" class="form-control form-control-sm" placeholder="Search..." />
                        <span class="input-group-text"><i class="fe-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <table class="table table-sm table-bordered nowrap w-100" id="tbl_applications">
                    <thead class="table-light text-center">
                        <tr>
                            <th>Application Code</th>
                            <th>Applicant Name</th>
                            <th>Pagibig Number</th>
                            <th>Housing Account Number</th>
                            <th>Income Amount</th>
                            <th>Developer</th>
                            <th>Project Location</th>
                            <th>Unit</th>
                            <th>Loan Amount</th>
                            <th>Date Applied</th>
                            <th>Status</th>
                            <th>Stage</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>


        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/Setup/Applicants/BeneficiaryScript.js" asp-append-version="true"></script>
}
