@model ApplicantViewModel
<input hidden type="text" class="form-control" asp-for="Form2PageModel.Id">
<input hidden type="text" class="form-control" asp-for="Form2PageModel.ApplicantsPersonalInformationId">
<div class="row gy-2">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-bordered mb-0">
                <thead>
                    <tr class="bg-black">
                        <th colspan="6" class="text-center">
                            <h3 class="text-white m-0">BANK ACCOUNTS (Indicate your 3 most active)</h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center fw-bold text-dark">
                        <th>BANK</th>
                        <td>BRANCH/ADDRESS</td>
                        <td>TYPE OF ACCOUNT</td>
                        <td>ACCOUNT NO.</td>
                        <td>DATE OPENED</td>
                        <td>AVE. BALANCE</td>
                    </tr>
                    <tr>
                        <th>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.Bank1">
                                <span asp-validation-for="Form2PageModel.Bank1" class="invalid-tooltip"> </span>
                            </div>
                        </th>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.BranchAddress1">
                                <span asp-validation-for="Form2PageModel.BranchAddress1" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.TypeOfAccount1">
                                <span asp-validation-for="Form2PageModel.TypeOfAccount1" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3 text-center" asp-for="Form2PageModel.AccountNumber1">
                                <span asp-validation-for="Form2PageModel.AccountNumber1" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 calendarpicker text-center" asp-for="Form2PageModel.DateOpened1">
                                <span asp-validation-for="Form2PageModel.DateOpened1" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3  text-center" asp-for="Form2PageModel.AverageBalance1">
                                <span asp-validation-for="Form2PageModel.AverageBalance1" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.Bank2">
                                <span asp-validation-for="Form2PageModel.Bank2" class="invalid-tooltip"> </span>
                            </div>
                        </th>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.BranchAddress2">
                                <span asp-validation-for="Form2PageModel.BranchAddress2" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.TypeOfAccount2">
                                <span asp-validation-for="Form2PageModel.TypeOfAccount2" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3 text-center" asp-for="Form2PageModel.AccountNumber2">
                                <span asp-validation-for="Form2PageModel.AccountNumber2" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 calendarpicker text-center" asp-for="Form2PageModel.DateOpened2">
                                <span asp-validation-for="Form2PageModel.DateOpened2" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3  text-center" asp-for="Form2PageModel.AverageBalance2">
                                <span asp-validation-for="Form2PageModel.AverageBalance2" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.Bank3">
                                <span asp-validation-for="Form2PageModel.Bank3" class="invalid-tooltip"> </span>
                            </div>
                        </th>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.BranchAddress3">
                                <span asp-validation-for="Form2PageModel.BranchAddress3" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.TypeOfAccount3">
                                <span asp-validation-for="Form2PageModel.TypeOfAccount3" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3 text-center" asp-for="Form2PageModel.AccountNumber3">
                                <span asp-validation-for="Form2PageModel.AccountNumber3" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 calendarpicker text-center" asp-for="Form2PageModel.DateOpened3">
                                <span asp-validation-for="Form2PageModel.DateOpened3" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3  text-center" asp-for="Form2PageModel.AverageBalance3">
                                <span asp-validation-for="Form2PageModel.AverageBalance3" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="bg-black">
                        <th colspan="6" class="text-center">
                            <h3 class="text-white m-0">CREDIT CARD OWNED (Indicate your 3 most active)</h3>
                        </th>
                    </tr>
                    <tr class="text-center fw-bold text-dark">
                        <th colspan="3">ISSUER NAME</th>
                        <td>CARD TYPE</td>
                        <td>CARD EXPIRY</td>
                        <td>CREDIT LIMIT</td>
                    </tr>
                    <tr>
                        <!-- Second row with 4 columns -->
                        <td colspan="3">
                            <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.IssuerName1">
                            <span asp-validation-for="Form2PageModel.IssuerName1" class="invalid-tooltip"> </span>
                        </td>
                        <td>
                            <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.CardType1">
                            <span asp-validation-for="Form2PageModel.CardType1" class="invalid-tooltip"> </span>
                        </td>
                        <td>
                            <input type="text" class="form-control rounded-3 text-center calendarpicker" asp-for="Form2PageModel.CardExpiration1">
                            <span asp-validation-for="Form2PageModel.CardExpiration1" class="invalid-tooltip"> </span>
                        </td>
                        <td>
                            <input type="number" class="form-control rounded-3 text-center" asp-for="Form2PageModel.CreditLimit1">
                            <span asp-validation-for="Form2PageModel.CreditLimit1" class="invalid-tooltip"> </span>
                        </td>
                    </tr>
                    <tr>
                        <!-- Second row with 4 columns -->
                        <td colspan="3">
                            <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.IssuerName2">
                            <span asp-validation-for="Form2PageModel.IssuerName2" class="invalid-tooltip"> </span>
                        </td>
                        <td>
                            <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.CardType2">
                            <span asp-validation-for="Form2PageModel.CardType2" class="invalid-tooltip"> </span>
                        </td>
                        <td>
                            <input type="text" class="form-control rounded-3 text-center calendarpicker" asp-for="Form2PageModel.CardExpiration2">
                            <span asp-validation-for="Form2PageModel.CardExpiration2" class="invalid-tooltip"> </span>
                        </td>
                        <td>
                            <input type="number" class="form-control rounded-3 text-center" asp-for="Form2PageModel.CreditLimit2">
                            <span asp-validation-for="Form2PageModel.CreditLimit2" class="invalid-tooltip"> </span>
                        </td>
                    </tr>
                    <tr>
                        <!-- Second row with 4 columns -->
                        <td colspan="3">
                            <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.IssuerName3">
                            <span asp-validation-for="Form2PageModel.IssuerName3" class="invalid-tooltip"> </span>
                        </td>
                        <td>
                            <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.CardType3">
                            <span asp-validation-for="Form2PageModel.CardType3" class="invalid-tooltip"> </span>
                        </td>
                        <td>
                            <input type="text" class="form-control rounded-3 text-center calendarpicker" asp-for="Form2PageModel.CardExpiration3">
                            <span asp-validation-for="Form2PageModel.CardExpiration3" class="invalid-tooltip"> </span>
                        </td>
                        <td>
                            <input type="number" class="form-control rounded-3 text-center" asp-for="Form2PageModel.CreditLimit3">
                            <span asp-validation-for="Form2PageModel.CreditLimit3" class="invalid-tooltip"> </span>
                        </td>
                    </tr>
                    <tr class="bg-black">
                        <th colspan="6" class="text-center">
                            <h3 class="text-white m-0">REAL ESTATE OWNED</h3>
                        </th>
                    </tr>
                    <tr class="text-center fw-bold text-dark">
                        <th>LOCATION</th>
                        <td>TYPE OF PROPERTY</td>
                        <td>AQUISITION COST</td>
                        <td>MARKET VALUE</td>
                        <td>MORTGAGE BALANCE</td>
                        <td>RENTAL INCOME</td>
                    </tr>
                    <tr>
                        <th>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.Location1">
                                <span asp-validation-for="Form2PageModel.Location1" class="invalid-tooltip"> </span>
                            </div>
                        </th>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.TypeOfProperty1">
                                <span asp-validation-for="Form2PageModel.TypeOfProperty1" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3 text-center" asp-for="Form2PageModel.AquisitionCost1">
                                <span asp-validation-for="Form2PageModel.AquisitionCost1" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3 text-center" asp-for="Form2PageModel.MarketValue1">
                                <span asp-validation-for="Form2PageModel.MarketValue1" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3  text-center" asp-for="Form2PageModel.MortgageBalance1">
                                <span asp-validation-for="Form2PageModel.MortgageBalance1" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3  text-center" asp-for="Form2PageModel.RentalIncome1">
                                <span asp-validation-for="Form2PageModel.RentalIncome1" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.Location2">
                                <span asp-validation-for="Form2PageModel.Location1" class="invalid-tooltip"> </span>
                            </div>
                        </th>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.TypeOfProperty2">
                                <span asp-validation-for="Form2PageModel.TypeOfProperty2" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3 text-center" asp-for="Form2PageModel.AquisitionCost2">
                                <span asp-validation-for="Form2PageModel.AquisitionCost2" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3 text-center" asp-for="Form2PageModel.MarketValue2">
                                <span asp-validation-for="Form2PageModel.MarketValue2" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3  text-center" asp-for="Form2PageModel.MortgageBalance2">
                                <span asp-validation-for="Form2PageModel.MortgageBalance2" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3  text-center" asp-for="Form2PageModel.RentalIncome2">
                                <span asp-validation-for="Form2PageModel.RentalIncome2" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.Location3">
                                <span asp-validation-for="Form2PageModel.Location3" class="invalid-tooltip"> </span>
                            </div>
                        </th>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.TypeOfProperty3">
                                <span asp-validation-for="Form2PageModel.TypeOfProperty3" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3 text-center" asp-for="Form2PageModel.AquisitionCost3">
                                <span asp-validation-for="Form2PageModel.AquisitionCost3" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3 text-center" asp-for="Form2PageModel.MarketValue3">
                                <span asp-validation-for="Form2PageModel.MarketValue3" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3  text-center" asp-for="Form2PageModel.MortgageBalance3">
                                <span asp-validation-for="Form2PageModel.MortgageBalance3" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3  text-center" asp-for="Form2PageModel.RentalIncome3">
                                <span asp-validation-for="Form2PageModel.RentalIncome3" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                    </tr>

                    <tr class="bg-black">
                        <th colspan="6" class="text-center">
                            <h3 class="text-white m-0">OUTSTANDING CREDITS/LOAN AVAILMENTS</h3>
                        </th>
                    </tr>
                    <tr class="text-center fw-bold text-dark">
                        <th>CREDITOR & ADDRESS</th>
                        <td>SECURITY</td>
                        <td>TYPE</td>
                        <td>AMOUNT BALANCE</td>
                        <td>MATURITY DATE</td>
                        <td>MO. AMORTIZATION</td>
                    </tr>
                    <tr>
                        <th>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.CreditorAndAddress1">
                                <span asp-validation-for="Form2PageModel.CreditorAndAddress1" class="invalid-tooltip"> </span>
                            </div>
                        </th>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.Security1">
                                <span asp-validation-for="Form2PageModel.Security1" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.Type1">
                                <span asp-validation-for="Form2PageModel.Type1" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3 text-center" asp-for="Form2PageModel.AmountBalance1">
                                <span asp-validation-for="Form2PageModel.AmountBalance1" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3  text-center calendarpicker" asp-for="Form2PageModel.MaturityDateTime1">
                                <span asp-validation-for="Form2PageModel.MaturityDateTime1" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3  text-center" asp-for="Form2PageModel.Amortization1">
                                <span asp-validation-for="Form2PageModel.Amortization1" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.CreditorAndAddress2">
                                <span asp-validation-for="Form2PageModel.CreditorAndAddress2" class="invalid-tooltip"> </span>
                            </div>
                        </th>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.Security2">
                                <span asp-validation-for="Form2PageModel.Security2" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.Type2">
                                <span asp-validation-for="Form2PageModel.Type2" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3 text-center" asp-for="Form2PageModel.AmountBalance2">
                                <span asp-validation-for="Form2PageModel.AmountBalance2" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3  text-center calendarpicker" asp-for="Form2PageModel.MaturityDateTime2">
                                <span asp-validation-for="Form2PageModel.MaturityDateTime2" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3  text-center" asp-for="Form2PageModel.Amortization2">
                                <span asp-validation-for="Form2PageModel.Amortization2" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.CreditorAndAddress3">
                                <span asp-validation-for="Form2PageModel.CreditorAndAddress3" class="invalid-tooltip"> </span>
                            </div>
                        </th>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.Security3">
                                <span asp-validation-for="Form2PageModel.Security3" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.Type3">
                                <span asp-validation-for="Form2PageModel.Type3" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3 text-center" asp-for="Form2PageModel.AmountBalance3">
                                <span asp-validation-for="Form2PageModel.AmountBalance3" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3  text-center calendarpicker" asp-for="Form2PageModel.MaturityDateTime3">
                                <span asp-validation-for="Form2PageModel.MaturityDateTime3" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3  text-center" asp-for="Form2PageModel.Amortization3">
                                <span asp-validation-for="Form2PageModel.Amortization3" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="bg-black">
                        <th colspan="6" class="text-center p-2">
                            <h3 class="text-white m-0">
                                MISCELLANEOUS
                            </h3>
                            <p class="text-white m-0">
                                Answering the following questions are
                                <strong class="text-warning">(optional)</strong>
                            </p>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="6">
                            <div class="position-relative">
                                <label class="form-label fw-bold text-dark" asp-for="Form2PageModel.PendingCase"></label>
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.PendingCase">
                                <span asp-validation-for="Form2PageModel.PendingCase" class="invalid-tooltip"> </span>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="6">
                            <div class="position-relative">
                                <label class="form-label fw-bold text-dark" asp-for="Form2PageModel.PastDue"></label>
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.PastDue">
                                <span asp-validation-for="Form2PageModel.PastDue" class="invalid-tooltip"> </span>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="6">
                            <div class="position-relative">
                                <label class="form-label fw-bold text-dark" asp-for="Form2PageModel.BouncingChecks"></label>
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.BouncingChecks">
                                <span asp-validation-for="Form2PageModel.BouncingChecks" class="invalid-tooltip"> </span>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="6">
                            <div class="position-relative">
                                <label class="form-label fw-bold text-dark" asp-for="Form2PageModel.MedicalAdvice"></label>
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.MedicalAdvice">
                                <span asp-validation-for="Form2PageModel.MedicalAdvice" class="invalid-tooltip"> </span>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div> <!-- end .table-responsive-->
    </div>
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-bordered mb-0">
                <thead>
                    <tr class="bg-black">
                        <th colspan="8" class="text-center">
                            <h3 class="text-white m-0">LOAN AND CREDIT REFERENCES</h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center fw-bold text-dark">
                        <th>BANK FINANCIAL INSTITUTION</th>
                        <td>ADDRESS</td>
                        <td>PURPOSE</td>
                        <td>SECURITY</td>
                        <td>HIGHEST AMOUNT OWED</td>
                        <td>PRESENT BALANCE</td>
                        <td>DATE OBTAINED</td>
                        <td>DATE FULLYPAID</td>
                    </tr>
                    <tr>
                        <th>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.BankFinancial1">
                                <span asp-validation-for="Form2PageModel.BankFinancial1" class="invalid-tooltip"> </span>
                            </div>
                        </th>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.Address1">
                                <span asp-validation-for="Form2PageModel.Address1" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.Purpose1">
                                <span asp-validation-for="Form2PageModel.Purpose1" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.LoanSecurity1">
                                <span asp-validation-for="Form2PageModel.LoanSecurity1" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3 text-center" asp-for="Form2PageModel.HighestAmount1">
                                <span asp-validation-for="Form2PageModel.HighestAmount1" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3  text-center" asp-for="Form2PageModel.PresentBalance1">
                                <span asp-validation-for="Form2PageModel.PresentBalance1" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3  text-center calendarpicker" asp-for="Form2PageModel.DateObtained1">
                                <span asp-validation-for="Form2PageModel.DateObtained1" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3  text-center calendarpicker" asp-for="Form2PageModel.DateFullyPaid1">
                                <span asp-validation-for="Form2PageModel.DateFullyPaid1" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.BankFinancial2">
                                <span asp-validation-for="Form2PageModel.BankFinancial2" class="invalid-tooltip"> </span>
                            </div>
                        </th>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.Address2">
                                <span asp-validation-for="Form2PageModel.Address2" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.Purpose2">
                                <span asp-validation-for="Form2PageModel.Purpose2" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.LoanSecurity2">
                                <span asp-validation-for="Form2PageModel.LoanSecurity2" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3 text-center" asp-for="Form2PageModel.HighestAmount2">
                                <span asp-validation-for="Form2PageModel.HighestAmount2" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3  text-center" asp-for="Form2PageModel.PresentBalance2">
                                <span asp-validation-for="Form2PageModel.PresentBalance2" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3  text-center calendarpicker" asp-for="Form2PageModel.DateObtained2">
                                <span asp-validation-for="Form2PageModel.DateObtained2" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3  text-center calendarpicker" asp-for="Form2PageModel.DateFullyPaid2">
                                <span asp-validation-for="Form2PageModel.DateFullyPaid2" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.BankFinancial3">
                                <span asp-validation-for="Form2PageModel.BankFinancial3" class="invalid-tooltip"> </span>
                            </div>
                        </th>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.Address3">
                                <span asp-validation-for="Form2PageModel.Address3" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.Purpose3">
                                <span asp-validation-for="Form2PageModel.Purpose3" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.LoanSecurity3">
                                <span asp-validation-for="Form2PageModel.LoanSecurity3" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3 text-center" asp-for="Form2PageModel.HighestAmount3">
                                <span asp-validation-for="Form2PageModel.HighestAmount3" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3  text-center" asp-for="Form2PageModel.PresentBalance3">
                                <span asp-validation-for="Form2PageModel.PresentBalance3" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3  text-center calendarpicker" asp-for="Form2PageModel.DateObtained3">
                                <span asp-validation-for="Form2PageModel.DateObtained3" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="number" class="form-control rounded-3  text-center calendarpicker" asp-for="Form2PageModel.DateFullyPaid3">
                                <span asp-validation-for="Form2PageModel.DateFullyPaid3" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="bg-black">
                        <th colspan="8" class="text-center">
                            <h3 class="text-white m-0">TRADE REFERENCES (For Self-Employed only)</h3>
                        </th>
                    </tr>
                    <tr class="text-center fw-bold text-dark">
                        <th colspan="6">CREDITOR & ADDRESS</th>
                        <td>SECURITY</td>
                        <td>TYPE</td>
                    </tr>
                    <tr>
                        <th colspan="6">
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.NameSupplier1">
                                <span asp-validation-for="Form2PageModel.NameSupplier1" class="invalid-tooltip"> </span>
                            </div>
                        </th>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.TradeAddress1">
                                <span asp-validation-for="Form2PageModel.TradeAddress1" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.TradeTellNo1">
                                <span asp-validation-for="Form2PageModel.TradeTellNo1" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="6">
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.NameSupplier2">
                                <span asp-validation-for="Form2PageModel.NameSupplier2" class="invalid-tooltip"> </span>
                            </div>
                        </th>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.TradeAddress2">
                                <span asp-validation-for="Form2PageModel.TradeAddress2" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.TradeTellNo2">
                                <span asp-validation-for="Form2PageModel.TradeTellNo2" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="6">
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.NameSupplier3">
                                <span asp-validation-for="Form2PageModel.NameSupplier3" class="invalid-tooltip"> </span>
                            </div>
                        </th>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.TradeAddress3">
                                <span asp-validation-for="Form2PageModel.TradeAddress3" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.TradeTellNo3">
                                <span asp-validation-for="Form2PageModel.TradeTellNo3" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="bg-black">
                        <th colspan="8" class="text-center">
                            <h3 class="text-white m-0">CHARACTER REFERENCES</h3>
                        </th>
                    </tr>
                    <tr class="text-center fw-bold text-dark">
                        <th colspan="6">NAME</th>
                        <td>ADDRESS</td>
                        <td>TEL NO.</td>
                    </tr>
                    <tr>
                        <th colspan="6">
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.CharacterNameSupplier1">
                                <span asp-validation-for="Form2PageModel.CharacterNameSupplier1" class="invalid-tooltip"> </span>
                            </div>
                        </th>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.CharacterAddress1">
                                <span asp-validation-for="Form2PageModel.CharacterAddress1" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.CharacterTellNo1">
                                <span asp-validation-for="Form2PageModel.CharacterTellNo1" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="6">
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.CharacterNameSupplier2">
                                <span asp-validation-for="Form2PageModel.CharacterNameSupplier2" class="invalid-tooltip"> </span>
                            </div>
                        </th>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.CharacterAddress2">
                                <span asp-validation-for="Form2PageModel.CharacterAddress2" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.CharacterTellNo2">
                                <span asp-validation-for="Form2PageModel.CharacterTellNo2" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="6">
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.CharacterNameSupplier3">
                                <span asp-validation-for="Form2PageModel.CharacterNameSupplier3" class="invalid-tooltip"> </span>
                            </div>
                        </th>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.CharacterAddress3">
                                <span asp-validation-for="Form2PageModel.CharacterAddress3" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.CharacterTellNo3">
                                <span asp-validation-for="Form2PageModel.CharacterTellNo3" class="invalid-tooltip"> </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
    <div class="col-md-12">
        <span class="badge text-bg-warning rounded-4 px-3 py-1 font-16">Seller's Data'</span>
    </div>
    <div class="col-md-3">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="Form2PageModel.FirstName"></label>
            <input type="text" class="form-control rounded-3" asp-for="Form2PageModel.FirstName">
            <span asp-validation-for="Form2PageModel.FirstName" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="Form2PageModel.MIddleName"></label>
            <input type="text" class="form-control rounded-3" asp-for="Form2PageModel.MIddleName">
            <span asp-validation-for="Form2PageModel.MIddleName" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="Form2PageModel.LastName"></label>
            <input type="text" class="form-control rounded-3" asp-for="Form2PageModel.LastName">
            <span asp-validation-for="Form2PageModel.LastName" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="Form2PageModel.Suffix"></label>
            <input type="text" class="form-control rounded-3" asp-for="Form2PageModel.Suffix">
            <span asp-validation-for="Form2PageModel.Suffix" class="invalid-tooltip"> </span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="Form2PageModel.PagibigNumber"></label>
            <input type="number" class="form-control rounded-3" asp-for="Form2PageModel.PagibigNumber">
            <span asp-validation-for="Form2PageModel.PagibigNumber" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="Form2PageModel.TinNumber"></label>
            <input type="number" class="form-control rounded-3" asp-for="Form2PageModel.TinNumber">
            <span asp-validation-for="Form2PageModel.TinNumber" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="Form2PageModel.ContactNumber"></label>
            <input type="text" class="form-control rounded-3" asp-for="Form2PageModel.ContactNumber">
            <span asp-validation-for="Form2PageModel.ContactNumber" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="Form2PageModel.Email"></label>
            <input type="email" class="form-control rounded-3" asp-for="Form2PageModel.Email">
            <span asp-validation-for="Form2PageModel.Email" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="Form2PageModel.SellersUnitName"></label>
            <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.SellersUnitName">
            <span asp-validation-for="Form2PageModel.SellersUnitName" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="Form2PageModel.SellersBuildingName"></label>
            <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.SellersBuildingName">
            <span asp-validation-for="Form2PageModel.SellersBuildingName" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="Form2PageModel.SellersLotName"></label>
            <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.SellersLotName">
            <span asp-validation-for="Form2PageModel.SellersLotName" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="Form2PageModel.SellersStreetName"></label>
            <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.SellersStreetName">
            <span asp-validation-for="Form2PageModel.SellersStreetName" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="Form2PageModel.SellersSubdivisionName"></label>
            <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.SellersSubdivisionName">
            <span asp-validation-for="Form2PageModel.SellersSubdivisionName" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="Form2PageModel.SellersBaranggayName"></label>
            <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.SellersBaranggayName">
            <span asp-validation-for="Form2PageModel.SellersBaranggayName" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="Form2PageModel.SellersMunicipalityName"></label>
            <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.SellersMunicipalityName">
            <span asp-validation-for="Form2PageModel.SellersMunicipalityName" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="Form2PageModel.SellersProvinceName"></label>
            <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.SellersProvinceName">
            <span asp-validation-for="Form2PageModel.SellersProvinceName" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-3" col="9">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="Form2PageModel.SellersZipCode"></label>
            <input type="text" class="form-control rounded-3 text-center" asp-for="Form2PageModel.SellersZipCode">
            <span asp-validation-for="Form2PageModel.SellersZipCode" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="position-relative">
            <label asp-for="Form2PageModel.SourcePagibigFundId" class="form-label fw-normal" required></label>
            <select asp-for="Form2PageModel.SourcePagibigFundId" class="rounded-4" required>
                <option value="1">Tb Ad</option>
                <option value="2">Website</option>
                <option value="3">Radio Ad</option>
                <option value="4">Agency</option>
                <option value="5">Pag-IBIG-Fund Personnel</option>
                <option value="6">Pag-IBIG-Fund Branch</option>
                <option value="7">Flyer/Poster/Brochure</option>
                <option value="8">Real Estate Developer</option>
                <option value="9">Employer</option>
                <option value="10">Seller of the Property</option>
                <option value="11">Newspaper/Magazine Ad</option>
            </select>
            <span asp-validation-for="Form2PageModel.SourcePagibigFundId" class="invalid-tooltip"></span>
        </div>
    </div>
</div>