@model ApplicantViewModel
<div class="row gy-2">
    <div class="col-md-12">
        <h3 class="text-dark float-start">
            <span class="badge text-bg-warning rounded-4 px-3 py-1 font-16">Loan Particulars</span>
        </h3>
    </div>
    <input hidden type="text" class="form-control" asp-for="LoanParticularsInformationModel.Id">
    <input hidden type="text" class="form-control" asp-for="LoanParticularsInformationModel.ApplicantsPersonalInformationId">
    <input hidden type="text" class="form-control" asp-for="CollateralInformationModel.Id">
    <input hidden type="text" class="form-control" asp-for="CollateralInformationModel.ApplicantsPersonalInformationId">
    <div class="col-md-12">
        <div class="position-relative">
            <label asp-for="LoanParticularsInformationModel.PurposeOfLoanId" class="form-label fw-normal" required></label>
            <select asp-for="LoanParticularsInformationModel.PurposeOfLoanId" class="rounded-4" required asp-items="@(new SelectList(ViewBag.purposeloan, "value", "text"))">
            </select>
            <span asp-validation-for="LoanParticularsInformationModel.PurposeOfLoanId" class="invalid-tooltip"></span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="LoanParticularsInformationModel.ExistingHousingApplicationNumber" required></label>
            @if (!Model.LoanParticularsInformationModel.ExistingChecker)
            {
                <input disabled type="text" class="form-control rounded-3" asp-for="LoanParticularsInformationModel.ExistingHousingApplicationNumber">
            }
            else
            {
                <input type="text" class="form-control rounded-3" asp-for="LoanParticularsInformationModel.ExistingHousingApplicationNumber">
            }
            <span asp-validation-for="LoanParticularsInformationModel.ExistingHousingApplicationNumber" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-check form-check-inline">
            <input asp-for="LoanParticularsInformationModel.ExistingChecker" type="checkbox" class="form-check-input">
            <label class="form-check-label header-title" asp-for="LoanParticularsInformationModel.ExistingChecker"></label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="LoanParticularsInformationModel.DesiredLoanAmount" required></label>
            <input type="number" class="form-control rounded-3" asp-for="LoanParticularsInformationModel.DesiredLoanAmount" maxlength="12">
            <span asp-validation-for="LoanParticularsInformationModel.DesiredLoanAmount" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="position-relative">
            <label asp-for="LoanParticularsInformationModel.DesiredLoanTermYears" class="form-label fw-normal" required></label>
            <input asp-for="LoanParticularsInformationModel.DesiredLoanTermYears" type="number" class="form-control rounded-3 text-center">
            <span asp-validation-for="LoanParticularsInformationModel.DesiredLoanTermYears" class="invalid-tooltip"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="position-relative">
            <label asp-for="LoanParticularsInformationModel.RepricingPeriod" class="form-label fw-normal" required></label>
            <select asp-for="LoanParticularsInformationModel.RepricingPeriod" class="rounded-4" required>
                <option value="1">1</option>
                <option value="3">3</option>    
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
            </select>
            <span asp-validation-for="LoanParticularsInformationModel.RepricingPeriod" class="invalid-tooltip"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="position-relative">
            <label asp-for="LoanParticularsInformationModel.ModeOfPaymentId" class="form-label fw-normal" required></label>
            <select asp-for="LoanParticularsInformationModel.ModeOfPaymentId" class="rounded-4" required asp-items="@(new SelectList(ViewBag.modeOfPayment, "value", "text"))">
            </select>
            <span asp-validation-for="LoanParticularsInformationModel.Id" class="invalid-tooltip"></span>
        </div>
    </div>
    <div class="col-md-12">
        <h3 class="header-title pb-2 mb-2 mt-2 border-bottom-dashed">
            <span class="badge text-bg-warning rounded-4 px-3 py-1 font-16">Collateral</span>
        </h3>
    </div>
    <div class="col-md-4">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="CollateralInformationModel.Province" required></label>
            <input type="text" class="form-control rounded-3" asp-for="CollateralInformationModel.Province" required>
            <span asp-validation-for="CollateralInformationModel.Province" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="CollateralInformationModel.Municipality"></label>
            <input type="text" class="form-control rounded-3" asp-for="CollateralInformationModel.Municipality" required>
            <span asp-validation-for="CollateralInformationModel.Municipality" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="CollateralInformationModel.Street"></label>
            <input type="text" class="form-control rounded-3" asp-for="CollateralInformationModel.Street">
            <span asp-validation-for="CollateralInformationModel.Street" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="CollateralInformationModel.DeveloperName" required></label>
            <input type="text" class="form-control rounded-3" asp-for="CollateralInformationModel.DeveloperName" required>
            <span asp-validation-for="CollateralInformationModel.DeveloperName" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="position-relative">
            <label asp-for="CollateralInformationModel.PropertyTypeId" class="form-label fw-normal" required></label>
            <select asp-for="CollateralInformationModel.PropertyTypeId" class="rounded-4" required asp-items="@(new SelectList(ViewBag.propertTye, "value", "text"))">
            </select>
            <span asp-validation-for="CollateralInformationModel.PropertyTypeId" class="invalid-tooltip"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="CollateralInformationModel.TctOctCctNumber" required></label>
            <input type="number" class="form-control rounded-3" asp-for="CollateralInformationModel.TctOctCctNumber" required>
            <span asp-validation-for="CollateralInformationModel.TctOctCctNumber" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="CollateralInformationModel.TaxDeclrationNumber" required></label>
            <input type="number" class="form-control rounded-3" asp-for="CollateralInformationModel.TaxDeclrationNumber" required>
            <span asp-validation-for="CollateralInformationModel.TaxDeclrationNumber" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="CollateralInformationModel.LotUnitNumber" required></label>
            <input type="number" class="form-control rounded-3" asp-for="CollateralInformationModel.LotUnitNumber" required>
            <span asp-validation-for="CollateralInformationModel.LotUnitNumber" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="CollateralInformationModel.BlockBuildingNumber" required></label>
            <input type="number" class="form-control rounded-3" asp-for="CollateralInformationModel.BlockBuildingNumber" required>
            <span asp-validation-for="CollateralInformationModel.BlockBuildingNumber" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-check form-check-inline">
            <input asp-for="CollateralInformationModel.IsMortgage" type="checkbox" class="form-check-input">
            <label class="form-check-label header-title" asp-for="CollateralInformationModel.IsMortgage"></label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="CollateralInformationModel.LandArea" required></label>
            <input type="number" class="form-control rounded-3" asp-for="CollateralInformationModel.LandArea" required>
            <span asp-validation-for="CollateralInformationModel.LandArea" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="CollateralInformationModel.HouseAge" required></label>
            <input type="number" class="form-control rounded-3" asp-for="CollateralInformationModel.HouseAge" required>
            <span asp-validation-for="CollateralInformationModel.HouseAge" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-12">
        <div class="form-check form-check-inline">
            <input asp-for="CollateralInformationModel.ExistingReasonChecker" type="checkbox" class="form-check-input">
            <label class="form-check-label header-title" asp-for="CollateralInformationModel.ExistingReasonChecker"></label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="CollateralInformationModel.CollateralReason"></label>
            @if (!Model.CollateralInformationModel.ExistingReasonChecker)
            {
                <textarea disabled type="text" class="form-control rounded-3" asp-for="CollateralInformationModel.CollateralReason" rows="5"></textarea>
            }else{
                <textarea type="text" class="form-control rounded-3" asp-for="CollateralInformationModel.CollateralReason" rows="5"></textarea>
            }
        </div>
    </div>
    <div class="col-md-8">
    </div>
    <div class="col-md-4">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="CollateralInformationModel.NumberOfStoreys" required></label>
            <input type="number" class="form-control rounded-3" asp-for="CollateralInformationModel.NumberOfStoreys" required>
            <span asp-validation-for="CollateralInformationModel.NumberOfStoreys" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="CollateralInformationModel.ProposedNoOfStoreys" required></label>
            <input type="number" class="form-control rounded-3" asp-for="CollateralInformationModel.ProposedNoOfStoreys" required>
            <span asp-validation-for="CollateralInformationModel.ProposedNoOfStoreys" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="CollateralInformationModel.ExistingTotalFloorArea" required></label>
            <input type="number" class="form-control rounded-3" asp-for="CollateralInformationModel.ExistingTotalFloorArea" required>
            <span asp-validation-for="CollateralInformationModel.ExistingTotalFloorArea" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="position-relative">
            <label class="form-label fw-normal" asp-for="CollateralInformationModel.ProposedTotalFloorArea" required></label>
            <input type="number" class="form-control rounded-3" asp-for="CollateralInformationModel.ProposedTotalFloorArea" required>
            <span asp-validation-for="CollateralInformationModel.ProposedTotalFloorArea" class="invalid-tooltip"> </span>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>
