<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="icon-picker-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row">
                    <div class="icon-col col-3 modal-header-color rounded-start" data-simplebar style="min-height:37rem;max-height:37rem;">
                        <ul class="side-nav">
                            <li class="side-nav-title icon-title">Icon Library List</li>
                            <li class="side-nav-item">
                                <a href="index.html" class="side-nav-link">
                                    <i class="fe-airplay icon-icons"></i>
                                    <span class="icon-selector"> Material Design </span>
                                    <span class="icon-count badge bg-info float-end">7,345</span>
                                </a>
                            </li>
                            <li class="side-nav-item">
                                <a href="index.html" class="side-nav-link">
                                    <i class="fe-airplay icon-icons"></i>
                                    <span class="icon-selector"> Font Awesome 5 </span>
                                    <span class="icon-count badge bg-info float-end">7,345</span>
                                </a>
                            </li>
                            <li class="side-nav-item">
                                <a href="index.html" class="side-nav-link">
                                    <i class="fe-airplay icon-icons"></i>
                                    <span class="icon-selector"> Feather </span>
                                    <span class="icon-count badge bg-info float-end">7,345</span>
                                </a>
                            </li>
                            <li class="side-nav-item">
                                <a href="index.html" class="side-nav-link">
                                    <i class="fe-airplay icon-icons"></i>
                                    <span class="icon-selector"> Two Tone </span>
                                    <span class="icon-count badge bg-info float-end">7,345</span>
                                </a>
                            </li>
                            <li class="side-nav-item">
                                <a href="index.html" class="side-nav-link">
                                    <i class="fe-airplay icon-icons"></i>
                                    <span class="icon-selector"> Dripicon </span>
                                    <span class="icon-count badge bg-info float-end">7,345</span>
                                </a>
                            </li>
                            <li class="side-nav-item">
                                <a href="index.html" class="side-nav-link">
                                    <i class="fe-airplay icon-icons"></i>
                                    <span class="icon-selector"> Remix Icons </span>
                                    <span class="icon-count badge bg-info float-end">7,345</span>
                                </a>
                            </li>
                            <li class="side-nav-item">
                                <a href="index.html" class="side-nav-link">
                                    <i class="fe-airplay icon-icons"></i>
                                    <span class="icon-selector"> Unicons </span>
                                    <span class="icon-count badge bg-info float-end">7,345</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="icon-col-container col-9 pt-2 pb-2">
                        <h4 class="modal-title mb-2"><i class="fe-layers text-primary"></i> Multiple Icons</h4>
                        <div class="row gy-2 pe-2">
                            <div class="col-12">
                                <div class="input-group input-group-sm">
                                    <input type="text" value="" class="form-control quicksearch" />
                                    <span class="input-group-text"><i class="fe-search"></i></span>
                                </div>
                            </div>
                            <div class="col-12" data-simplebar style="min-height:28.5rem;max-height:28.5rem;">
                                <div class="icon-grid">
                                </div>
                            </div>
                            <div class="col-12 position-absolute bottom-0 end-0 mb-2">
                                <button type="button" class="btn float-end btn-sm mt-0 mb-0 btn-danger waves-effect" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
