@model ErrorViewModel
@{
    @if (!User.Identity.IsAuthenticated)
    {
        Layout = "Layout/_NoAuthLayout";
    }
    ViewData["Title"] = "Error";
    var lottieLink = "https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs";
}

<div class="row justify-content-center mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-body p-3">
                <script src="@lottieLink" type="module"></script>

                <dotlottie-player src="https://lottie.host/0658a7c6-087f-423c-9b43-79e60226ab2d/bkbH1mvs8g.json" background="transparent" speed="1" style=" height: 55vh;" loop autoplay></dotlottie-player>
                <div class="text-center mt-n5">
                    <h2 class="text-uppercase text-danger mt-5">An error occurred while processing your request</h2>
                    @if (!string.IsNullOrWhiteSpace(Model.Message))
                    {
                        <p class="text-muted">@Model.Message</p>
                    }

                    @if (Model.ShowRequestId)
                    {
                        <p class="text-muted">
                            <strong>Request ID:</strong> <code>@Model.RequestId</code>
                        </p>
                    }

                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary waves-effect waves-light"> Return to Dashboard</a>
                    <!-- <p class="">Return to <a href="index.html" class="btn btn-primary waves-effect waves-light"><b>Home</b></a></p> -->
                </div>

            </div>
        </div>
    </div>
</div>