@inject IStringLocalizer<SharedResources> localizer
@model RoleViewModel

@{
    ViewData["Title"] = "User Role";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Role" asp-action="Index">Role Management</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
            <h4 class="page-title">@ViewData["Title"] - <strong class="text-primary">@Model.Role.Description</strong></h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="card card-outline rounded-4">
    <div class="card-body rounded-4 rounded-bottom bg-transparent border rounded border-theme-warning border-4 border-bottom-0 border-end-0 border-start-0">
        <div class="row gy-2">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-6 mb-2 align-items-md-center">
                        <button id="btn_add_user_role" class="btn btn-light btn-sm waves-effect btn_add"><span class="mdi mdi-plus"></span> Add</button>
                        <button id="btn_delete_user_role" class="btn btn-light btn-sm waves-effect btn_delete" disabled><span class="mdi mdi-delete-outline"></span> Remove from role</button>
                        <button class="btn btn-light btn-sm waves-effect btn_refresh" bound="tbl_user_role"><span class="mdi mdi-refresh"></span> Refresh</button>
                        @* <a class="btn btn-light btn-sm waves-effect" asp-controller="Role" asp-action="Index">Back to Role Management</a> *@
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="input-group float-end" style="width:250px;">
                            <input bound="tbl_user_role" type="search" class="form-control form-control-sm" placeholder="Search..." />
                            <span class="input-group-text"><i class="mdi mdi-magnify"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <table class="table table-sm table-bordered nowrap w-100" id="tbl_user_role">
                    <thead class="table-light">
                        <tr>
                            <th></th>
                            <th>User</th>
                            <th>Position</th>
                            <th>Joined Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Standard modal content -->
<div id="modal-user-role" data-bs-backdrop="static" data-bs-keyboard="false" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content rounded-4">
            <div class="modal-header modal-header-color p-2 rounded-4 rounded-bottom bg-transparent border rounded border-theme-warning border-4 border-bottom-0 border-end-0 border-start-0">
            </div>
            <div class="modal-body">
                <form id="user_role_form" enctype="multipart/form-data" class="needs-validation" novalidate method="post" asp-action="SaveUserRole" role="form">
                    <input hidden type="text" asp-for="UserRole.Id" class="form-control form-control-sm">
                    <input hidden type="text" asp-for="UserRole.RoleId" class="form-control form-control-sm" value="@Model.Role.Id">
                    <div class="row gy-2">
                        <div class="col-md-12">
                            <div class="position-relative">
                                <label asp-for="UserRole.UsersId" class="form-label fw-normal" required></label>
                                <select asp-for="UserRole.UsersId" class="rounded-4" multiple required>
                                </select>
                                <span asp-validation-for="UserRole.UsersId" class="invalid-tooltip"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class=" btn float-end btn-primary btn-sm ms-1 mt-0 mb-0 waves-effect waves-light">Save</button>
                            <button type="button" class="btn float-end btn-sm mt-0 mb-0 btn-light waves-effect mb-2" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section Scripts {
    <script src="~/js/setup/role/userrolesetup.js" asp-append-version="true"></script>
}
